// =================================STARTUP
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

// this starts the shell for noctalia-shell using qs as a command. kus it aint a pkg, duh
spawn-at-startup "noctalia-shell"
// spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "xwayland-satellite"
// spawn-at-startup "wayle"

// =================================WALL
spawn-at-startup "swww-daemon"
// SET wall
// spawn-sh-at-startup "sleep 1 && swww img ~/pic-jar/wall-bin/halftone-ER-ranni-praying.png --transition-type fade --transition-duration 1"
