window {
    background-color: rgba(30, 30, 46, 0.65);
    color: transparent;
}

/* search entry */
entry {
    background-color: rgba(0, 0, 0, 0.3);
    color: dimgrey;
}

button,
image {
    background: none;
    border: none;
}

button:hover {
    background-color: rgba(205, 214, 244, 0.12);
}

/* in case i? wanted to give category buttons a different look */
#category-button {
    margin: 0 10px 0 10px;
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted rgba(166, 173, 200, 0.5);
}

#files-box {
    padding: 5px;
    border: 1px dotted rgba(166, 173, 200, 0.5);
    border-radius: 15px;
}

/* math operation result label */
#math-label {
    font-weight: bold;
    font-size: 16px;
}
